
/* Your CSS Code here. */
.imgBox{
	margin: 10px auto;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.moviePic{
	width: 100%;
	height: auto;
	opacity: 0.9;
}
.movieDetail{
	text-align:center;
	position: relative;
	width: 450px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 20px;
}